/* *********************** Common style starts *************************** */
:root {
    --font-family-monteserat--: 'Montserrat', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.custom-btn {
    background: #e9c889;
    color: #000000;
    font-family: 'DINPro-Bold', sans-serif;
    outline: none;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    width: 160px;
    font-size: 18px;
    border: none;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #e9c889 50%, #ffce70 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: 2px 4px 30px #daa920;
}

.custom-btn:hover {
    background-position: left;
}

h2.card-title {
    font-size: 2.5rem;
}

/* for scroll bar UI  */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #002b45;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* *********************** Common style ends *************************** */
/*======================== header page style start ========================*/
.navbar {
    background-color: #002b45d9;
}



.nav-item a {
    color: white;
    font-family: var(--font-family-monteserat--);
    font-size: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: .7rem;
    margin-right: 1.4rem;
    margin-left: 1.4rem;
    padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    opacity: 0.76;
    color: #ffffffe6;
}

.sign_up {
    border: none;
    border-radius: 6px;
    color: #02699C;
    text-transform: capitalize;
    font-family: var(--font-family-monteserat--);
    padding: 5px 8px;
    font-size: .7rem;
    font-weight: 500;
}

.sticky_header {
    /* position: sticky;
    top: 0; */
    background-color: #002e4a;
}

.sticky_header.top_header .navbar{
    background: url(../../assets/image/nav-bg.png);
    background-size: cover;
    height: 200px;
    align-items: self-start;
    padding-top: 28px;
    top: -20px;
    z-index: 1;
}
.sticky_header.top_header .navbar-brand img {
    width: 100px !important;
}
/* top header  */

.sticky_header.bottom_header {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 0;
    background-color: #002e4ade;
}
.sticky_header.bottom_header .navbar-brand img {
    width: 40px !important;
}
.sticky_header.bottom_header.sticky {
    top: 0;
    transition: .3s linear;
}
/* Bottom Header  */


/* ========================header page style end ========================*/
/* ======================== community Page Style Starts ========================= */
.hero_section {
    background-image: linear-gradient(180deg, #002e49, #016596);
    padding-bottom: 50px;
}

.hub_community {
    width: 50%;
    margin: 0 auto;
    /* padding-top: 130px; */
}

.hub_community h3 {
    text-align: center;
    color: white;
    font-size: 42px;
    font-weight: 500;
    font-family: var(--font-family-monteserat--);
    line-height: 1;
}

.hub_community_detail P {
    color: #f2f4f8d1;
    font-family: var(--font-family-monteserat--);
    font-size: 13px;
}

.hub_community_detail {
    width: 72%;
    margin-left: auto;
}

.hub_community_detail.right_side{
    margin-right: auto;
    margin-left: unset;
}
.hub_seprate_image {
    width: 34%;
}

.handsome_img {
    margin-left: -70px;
}

.hub_seprate_image_girl {
    width: 37%;
    display: flex;
    justify-content: end;
    margin-top: -16px;
}

.hub_seprate_image_lens {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: -86px;
}

.hubb_investment {
    background-image: linear-gradient(160deg, #00293f, #00293fe0);
    /* padding-top: 120px; */
}

.investment_hub {
    width: 65%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 100px;
}
.investment_hub img{
    width: 60px;
}

.investment_hub .trust_rank_icon{
    width: 40px;
}
.investment_hub .hub_community_detail P{
    padding-right: 30px;
}
.investment_idea {
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-family-monteserat--);
}

.hub_trust_rank {
    background-image: linear-gradient(178deg, #002d47, #015f8e);
}

.purpose_hub {
    color: white;
    font-family: var(--font-family-monteserat--);
}
.trust_rank_descp{
    font-size: 13px;
    padding-top: 12px;
}

.hub_para {
    color: white;
    font-family: var(--font-family-monteserat--);
    width: 69%;
}

.hub_cards {
    background-color: #002c44;
    border-radius: 8px;
    padding: 35px;
    font-size: 13px;
    width: 90%;
    margin: 0 auto;
}
.hub_cards .hub_para {
    font-size: 12px;
    color: #c1c1c1;
    width: 80%;
}

.cards_para {
    font-size: 13px;
}

/* ======================== community  Page Style Ends ========================= */
/* ======================== plateform feature  Page Style start ========================= */
.plateform_feature {
    background-image: linear-gradient(180deg, #003c5ce3, #003c5c);
}

.hub_plateform {
    color: white;
    font-family: var(--font-family-monteserat--);
}

.graph_image img {
    border-radius: 12px;
}

.image_detail {
    font-size: 12px !important;
}

.trusted_height {
    padding-top: 50px;
}

.thousand_of_market {
    background-image: linear-gradient(180deg, #02699c, #00273d);
}

.investment_access {
    width: 50%;
}

.investment_access button {
    width: 35% !important;
}

.margin_top_70 {
    margin-top: -70px;
}

.investment_access {
    padding-top: 100px;
}

.market_coverage button {
    width: 43% !important;
}

.graph_text {
    width: 70%;
    font-size: 15px;
}

/* ======================== plateform feature  Page Style Ends ========================= */
/* ======================== about us  Page Style start ========================= */
.team_card {
    background-image: linear-gradient(45deg, #efefef, #e3e3e3a3);
    height: 170px;
}

.member_name li {
    list-style: none;
    color: white;
    font-size: 11px;
    font-family: var(--font-family-monteserat--);
}

.member_name {
    padding-left: 1px;
}

.our_Beliefs {
    background-image: linear-gradient(180deg, #00273d, #02699c);
    height: 100vh;
}
.belief_sub_heading h5 {
    font-family: var(--font-family-monteserat--);
    font-size: 16px;
    margin-top: 15px;
}

.belief_sub_heading h6 {
    font-family: var(--font-family-monteserat--);
    font-size: 12px;
    font-weight: 500;
    word-break: break-word;
    width: 90%;
}

.belief_sub_heading p {
    font-family: var(--font-family-monteserat--);
    font-size: 12px;
    margin-top: 11px;
}

.belief_sub_heading {
    word-break: break-word;
}

section.our_purpose {
    background-image: linear-gradient(180deg, #00273d, #02699c);
    height: 100vh;
}

.mian_purpose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hub_purpose {
    padding-top: 0px !important;
}

.hub_purpose p {
    color: white;
    text-align: center;
    font-size: 18px;
    width: 60%;
    font-family: var(--font-family-monteserat--);
    line-height: 24px;
}


/* ======================== about us   Page Style Ends ========================= */


/* ======================== Register Page Style start ========================= */

.bg_image {
    background-image: url(../image/main-bg.png), linear-gradient(180deg, #00273d, #02699c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.hub_beta h3 {
    text-align: inherit !important;
    color: white;
    font-size: 30px;
    font-family: var(--font-family-monteserat--);
}

.hub_beta p {
    color: white;
    font-size: 16px;
    font-family: var(--font-family-monteserat--);
}

.jon_us p {
    color: #4fb5ef;
    font-size: 26px;
}

.jon_us small {
    color: white;
    font-family: var(--font-family-monteserat--);
}

.register_input input {
    margin: 4px 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 5px;
    font-family: var(--font-family-monteserat--);
    width: 100%;
}

.register_input input::placeholder {
    font-family: var(--font-family-monteserat--);
    text-transform: capitalize;
    font-size: 12px;
}

.button_input {
    background-color: #f25a56;
    color: white;
    cursor: pointer;
}

.button_input::placeholder {
    color: white;
    text-align: center;
}


/* ======================== Register  Page Style Ends ========================= */


/* ======================== login  Page Style start ========================= */

.member_login {
    background: #00283e;
}

.member_color h6 {
    font-family: var(--font-family-monteserat--);
    text-align: center;
    color: #4cb0e9;
    font-size: 34px;
}

.member_color p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family-monteserat--);
}

.member_color {
    padding-top: 30px !important;
}

.login_input input {
    width: 50% !important;
    margin: 6px 0px;
}

article {
    width: 100%;
    padding: 10px 0;
    max-width: 337px;
    margin: 0 auto;
}

.selectio_before {
    display: flex;
    align-items: center;
}

.selectio_before:before,
.selectio_before:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #50B6F1;
}

.selectio_before:before {
    margin: 0 20px 0 0;
}

.selectio_before:after {
    margin: 0 0 0 20px;
}

.google_btn {
    width: 50% !important;
    margin: 6px 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 5px;
    font-family: var(--font-family-monteserat--);
    background: #4385f3;
    color: white;
    font-size: 14px;
}

.facebok_btn {
    background: #3b5799;
    color: white;
}

.google_btn img {
    max-width: 60% !important;
}

.facebok_btn i {
    font-size: 20px;
}


/* ========================login  Page Style Ends ========================= */

/* ========================classic software Page Style start ========================= */
.software_info{
    width: 31%;
}
.classic_cards{
    background: white;
    padding: 5px;
    border-radius: 12px;
    height: 700px;
   
}
.classic_cards h5{
    font-family: var(--font-family-monteserat--);
    color: #006b9c;
}
.classic_cards p{
    font-family: var(--font-family-monteserat--);
    color: #6e6e6e;
}
.classic_cards small{
    font-family: var(--font-family-monteserat--);
    color: #6e6e6e;
    font-size: 11px;
}
.learn_more{
    background: #006b9c;
    font-family: var(--font-family-monteserat--);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 3px;
    min-width: 100%;
}
.btn_one{
    margin-top: 140px !important;
}
.btn_two{
    margin-top: 92px;
}
.btn_three{
    margin-top: 44px;
}
.btn_four{
    margin-top: -4px;
}
.classic_bg{
    height: 100% !important;
}
/* ========================classic software  Page Style Ends ========================= */

/* ======================== home page style start ======================== */
.hub_home img{
    max-width: 40% !important;
}
.home_hero{
    height: 70vh;
    padding-top: 50px !important;
}
.home_purpose{
    padding-top: 56px !important;
}
.hub_home h5{
    color: white;
    font-family: var(--font-family-monteserat--);
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
}
.hub_home p{
    color: white;
    font-family: var(--font-family-monteserat--);
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}
.hub_home button {
    color: white;
    font-family: var(--font-family-monteserat--);
    font-weight: 400;
    font-size: 14px;
    background-color: #00b9f2;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 40px #0d0e0f;
    padding: 6px;
    width: 69%;
    height: 40px;
}
.search {
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .searchTerm {
    width: 100%;
    border: none;
    border-right: none;
    padding: 15px;
    height: 45px;
    padding: 0 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    font-family: var(--font-family-monteserat--);
  }
  .searchTerm::placeholder{
      font-family: var(--font-family-monteserat--);
      font-size: 12px;
      color: #02699C;
      padding: 0px;
  }
  .search i{
    position: absolute;
    top: 13px;
    left: 14px;
    font-size: 19px;
    font-weight: 500;
  }
  .wrap p{
      color: white;
      font-family: var(--font-family-monteserat--);
      font-size: 18px;
      font-weight: 400;
  }
  .searchButton {
    width: 20%;
    height: 45px;
    background: #F25A56;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border: none;
    font-family: var(--font-family-monteserat--);
    font-size: 16px;
  }
  
  .wrap{
    width: 50%;
  }
  .home_icons img{
      max-width: 30%  !important;
  }
  .home_icons span{
      color: white;
      font-family: var(--font-family-monteserat--);
      margin-left: 10px;
      font-size: 12px;
  }
  .forex{
    color: white;
    font-family: var(--font-family-monteserat--);
    margin-left: 10px;
    font-size: 12px;
  }
  .home_hubb_icons{
      width: 45%;
  }
  .home_purpose p{
    color: white;
    font-family: var(--font-family-monteserat--);
    width: 43%;
    text-align: center;
  }
  .home_welcome_detail{
      background: #00283d;
      border-radius: 10px;
      width: 40%;
      height: 600px;
  }
  .home_welcome_detail small{
      color: white;
      font-family: var(--font-family-monteserat--);
      font-size: 13px;
  }
  .home_welcome_detail h6{
    color: #009fd3;
    font-family: var(--font-family-monteserat--);
    font-size: 20px;
    line-height: 26px;
}
.home_welcome_detail button{
    margin-top: 50px !important;
    width: 100%;
    height: 32px !important;
}
.learn_more_btn button{
    margin-top: 140px !important;
}
.plateform img {
    margin: 0 19px;
    height: 35px
}
.plateform p{
    font-size: 12px;
    color: #009fd3;
    width: 100% !important;
    line-height: 15px;
    margin-top: 10px;
}
.bg_image_home{
    background-image: url(../image/main-bg.png), linear-gradient(180deg, #00273d, #02699c);
    background-position: center;
    background-repeat: no-repeat;
}
  /* ======================== home page style start ======================== */
/* ========================== footer__page styale starts ====================== */
.footer {
    background-color: #00273D;
    min-height: 200px;
}
 .footer_logo img{
    width: 110px;
}

.footer_detail {
    color: #BCC1CB;
    font-family: var(--font-family-monteserat--);
    font-size: 12px;
}

.footer_detail ul li {
    color: #BCC1CB;
    font-family: var(--font-family-monteserat--);
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 1.7;
    transition: 0.4s;
}

.footer_detail ul li:hover {
    color: #fff;
}

.footer_detail button {
    /* background-color: ; */
    border: none;
    border-radius: 5px;
    font-family: var(--font-family-monteserat--);
    outline: none;
    color: white;
    font-size: 10px;
    width: 65%;
    display: inline-block;
    height: 30px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #f25a56 50%, #015a88 50%) right;
    background-size: 200%;
    transition: .6s ease-out;
    box-shadow: 10px 10px 40px #0D0E0F;
}

.footer_detail button:hover {
    background-position: left;
}

/* ========================== footer__page styale ends ====================== */



/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // span devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Extra span devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* ============================= Responsiveness Ends ========================== */