/* *********************** Common style starts *************************** */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


.custom-btn {
    background: #e9c889;
    color: #000000;
    font-family: 'DINPro-Bold', sans-serif;
    outline: none;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    width: 160px;
    font-size: 18px;
    border: none;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #e9c889 50%, #ffce70 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: 2px 4px 30px #daa920;
}

.custom-btn:hover {
    background-position: left;
}

h2.card-title {
    font-size: 2.5rem;
}


/* for scroll bar UI  */


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #3b3526;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: white;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root{
    --font-family-monteserat--: 'Montserrat', sans-serif;
}
/* *********************** Common style ends *************************** */

/*======================== header page style start ========================*/
.navbar{
    background-color: #002d45;
}
.navbar-brand img{
    width: 40%  !important;
}
.nav-item a{
    color: white;
    font-family: var(--font-family-monteserat--);
    font-size: 15px;
}
.sign_up{
    border: none;
    border-radius: 9px;
    color: #02699C;
    text-transform: capitalize;
    font-family: var(--font-family-monteserat--);
    padding: 2px 15px;
    height: 34px;
}
.sticky_header{
    position: sticky;
    top: 0;
}
/* ========================header page style end ========================*/


/* ======================== community Page Style Starts ========================= */
.hero_section{
    background-image: linear-gradient(190deg, #003550, #0035509e);
    
}
.hub_community {
    width: 50%;
    margin: 0 auto;
    padding-top: 130px;
}
.hub_community h3{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-family-monteserat--);
}
.hub_community_detail P{
    color: white;
    font-family: var(--font-family-monteserat--);
    font-size: 15px;
}
.hub_community_detail{
    width: 84%;
}
.hub_seprate_image {
    width: 34%;
}
.handsome_img{
    margin-left: -70px;
}
.hub_seprate_image_girl{
    width: 37%;
    display: flex;
    justify-content: end;
    margin-top: -16px;
}
.hub_seprate_image_lens{
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: -86px;
}
.hubb_investment{
    background-image: linear-gradient(160deg, #00293f, #00293fe0);
    
}
.investment_hub{
    width: 65%;
    margin: 0 auto;
}
.investment_idea{
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-family-monteserat--);
}
.hub_trust_rank {
    background-image: linear-gradient(178deg, #002d47, #015f8e);
}

.purpose_hub {
    color: white;
    font-family: var(--font-family-monteserat--);
}

.hub_para {
    color: white;
    font-family: var(--font-family-monteserat--);
    width: 69%;
}

.hub_cards {
    background-color: #00273D;
    border-radius: 5px;
}

.cards_para {
    font-size: 13px;
}


/* ======================== community  Page Style Ends ========================= */


/* ======================== plateform feature  Page Style start ========================= */

.plateform_feature {
    background-image: linear-gradient(180deg, #003c5ce3, #003c5c);
}

.hub_plateform {
    color: white;
    font-family: var(--font-family-monteserat--);
}

.graph_image img {
    border-radius: 12px;
}

.image_detail {
    font-size: 12px !important;
}

.trusted_height {
    padding-top: 50px;
}

.thousand_of_market {
    background-image: linear-gradient(180deg, #02699c, #00273d);
}

.investment_access {
    width: 50%;
}

.investment_access button {
    width: 35% !important;
}

.margin_top_70 {
    margin-top: -70px;
}

.investment_access {
    padding-top: 100px;
}

.market_coverage button {
    width: 43% !important;
}

.graph_text {
    width: 70%;
    font-size: 15px;
}


/* ======================== plateform feature  Page Style Ends ========================= */


/* ======================== about us  Page Style start ========================= */

.team_card {
    background-image: linear-gradient(45deg, #efefef, #e3e3e3a3);
    height: 170px;
}

.member_name li {
    list-style: none;
    color: white;
    font-size: 11px;
    font-family: var(--font-family-monteserat--);
}

.member_name {
    padding-left: 1px;
}

.our_Beliefs {
    background-image: linear-gradient(180deg, #00273d, #02699c);
    height: 100vh;
}
.belief_sub_heading h5 {
    font-family: var(--font-family-monteserat--);
    font-size: 16px;
    margin-top: 15px;
}

.belief_sub_heading h6 {
    font-family: var(--font-family-monteserat--);
    font-size: 12px;
    font-weight: 500;
    word-break: break-word;
    width: 90%;
}

.belief_sub_heading p {
    font-family: var(--font-family-monteserat--);
    font-size: 12px;
    margin-top: 11px;
}

.belief_sub_heading {
    word-break: break-word;
}

section.our_purpose {
    background-image: linear-gradient(180deg, #00273d, #02699c);
    height: 100vh;
}

.mian_purpose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hub_purpose {
    padding-top: 0px !important;
}

.hub_purpose p {
    color: white;
    text-align: center;
    font-size: 18px;
    width: 60%;
    font-family: var(--font-family-monteserat--);
    line-height: 24px;
}


/* ======================== about us   Page Style Ends ========================= */


/* ======================== Register Page Style start ========================= */

.bg_image {
    background-image: url(../image/main-bg.png), linear-gradient(180deg, #00273d, #02699c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hub_beta h3 {
    text-align: inherit !important;
    color: white;
    font-size: 30px;
    font-family: var(--font-family-monteserat--);
}

.hub_beta p {
    color: white;
    font-size: 16px;
    font-family: var(--font-family-monteserat--);
}

.jon_us p {
    color: #4fb5ef;
    font-size: 26px;
}

.jon_us small {
    color: white;
    font-family: var(--font-family-monteserat--);
}

.register_input input {
    margin: 4px 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 5px;
    font-family: var(--font-family-monteserat--);
    width: 100%;
}

.register_input input::placeholder {
    font-family: var(--font-family-monteserat--);
    text-transform: capitalize;
    font-size: 12px;
}

.button_input {
    background-color: #f25a56;
    color: white;
    cursor: pointer;
}

.button_input::placeholder {
    color: white;
    text-align: center;
}


/* ======================== Register  Page Style Ends ========================= */


/* ======================== login  Page Style start ========================= */

.member_login {
    background: #00283e;
}

.member_color h6 {
    font-family: var(--font-family-monteserat--);
    text-align: center;
    color: #4cb0e9;
    font-size: 34px;
}

.member_color p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family-monteserat--);
}

.member_color {
    padding-top: 30px !important;
}

.login_input input {
    width: 50% !important;
    margin: 6px 0px;
}

article {
    width: 100%;
    padding: 10px 0;
    max-width: 337px;
    margin: 0 auto;
}

.selectio_before {
    display: flex;
    align-items: center;
}

.selectio_before:before,
.selectio_before:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #50B6F1;
}

.selectio_before:before {
    margin: 0 20px 0 0;
}

.selectio_before:after {
    margin: 0 0 0 20px;
}

.google_btn {
    width: 50% !important;
    margin: 6px 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 5px;
    font-family: var(--font-family-monteserat--);
    background: #4385f3;
    color: white;
    font-size: 14px;
}

.facebok_btn {
    background: #3b5799;
    color: white;
}

.google_btn img {
    max-width: 60% !important;
}

.facebok_btn i {
    font-size: 20px;
}


/* ========================login  Page Style Ends ========================= */



/* ========================== footer__page styale starts ====================== */

.footer {
    background-color: #00273D;
    min-height: 200px;
}

.footer_detail {
    color: white;
    font-family: var(--font-family-monteserat--);
}

.footer_detail ul li {
    color: white;
    font-family: var(--font-family-monteserat--);
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 27px;
    transition: 0.4s;
}

.footer_detail ul li:hover {
    color: #c9c1c1;
}

.footer_detail button {
    background-color: ;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family-monteserat--);
    outline: none;
    color: white;
    font-size: 15px;
    width: 70%;
    display: inline-block;
    height: 35px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #f25a56 50%, #015a88 50%) right;
    background-size: 200%;
    transition: .6s ease-out;
}

.footer_detail button:hover {
    background-position: left;
}


/* ========================== footer__page styale ends ====================== */




/* ============================= Responsiveness starts ========================== */


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
   
}


/* // span devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
   
}


/* // Extra span devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
   
}


/* ============================= Responsiveness Ends ========================== */