/* *********************** Common style starts *************************** */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


.custom-btn {
    background: #e9c889;
    color: #000000;
    font-family: 'DINPro-Bold', sans-serif;
    outline: none;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    width: 160px;
    font-size: 18px;
    border: none;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #e9c889 50%, #ffce70 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: 2px 4px 30px #daa920;
}

.custom-btn:hover {
    background-position: left;
}

h2.card-title {
    font-size: 2.5rem;
}


/* for scroll bar UI  */


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #3b3526;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #dfc774;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* *********************** Common style ends *************************** */


/* ======================== Home Page Style Starts ========================= */

/* ======================== Home Page Style Ends ========================= */


/* ========================== login__page styale starts ====================== */


/* ========================== login__page styale ends ====================== */


/* ============================= Responsiveness starts ========================== */


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
   
}


/* // span devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
   
}


/* // Extra span devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
   
}


/* ============================= Responsiveness Ends ========================== */